$darkNavy: #051334;
$navy: #071C4D;
$lightNavy: #13327a;
$white: #FFFFFF;
$bgWhite: #E4E6EB;
$orange: #FF9E53;
$lightOrange: #ffaf71;

body {
    background-color: $bgWhite;
    font-family: 'Assistant', sans-serif;
    color: $navy;
}

// NavBar Starts
nav {
    .navbar-brand {
        img {
            max-height: 40px;
        }
    }

    .collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $navy;
                    font-weight: 500;

                    &.active {
                        font-weight: bold;
                    }

                    &:hover {
                        color: $lightNavy;
                    }
                }
            }
        }

        .btn-login {
            background-color: $navy;
            border-color: $navy;
            color: $white;

            &:hover {
                background-color: $lightNavy;
                border-color: $lightNavy;
                color: $white;
            }
        }

        .btn-navbar-right {
            margin-top: -10px !important;
            margin-bottom: -8px !important;
            margin-right: -18px !important;

            padding-left: 30px;
            padding-right: 30px;

            height: 70px;

            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
    }
}
// NavBar Ends

// Header Starts
header {
    padding: 180px 0 165px;
    margin-top: -68px;

    background-image: url('../images/header-background@2x.jpg');
    background-size: cover;

    h1, p {
        color: $white;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        font-size: 25px;

        background-color: $orange;
        border-color: $orange;
        color: $white;

        &:hover {
            background-color: $lightOrange;
            border-color: $lightOrange;
            color: $white;
        }
    }
}
// Header Ends

// Statistics Starts
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding: 18px;

        background-color: $white;

        h2 {
            font-size: 30px;
            margin-bottom: 0;
        }

        p {
            font-size: 20px;
            font-weight: 300;
        }
    }
}

.section-popular {
    min-height: 540px;
    margin-top: -68px;
    margin-bottom: -230px;

    background-color: $darkNavy;

    .section-popular-heading {
        margin-top: 150px;

        h2, p {
            color: $white;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;

            margin-bottom: 12px;
        }

        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            padding: 30px;
            margin-bottom: 20px;

            color: $white;
            background-color: $navy;
            background-size: cover;

            .travel-country {
                font-size: 18px;
                color: $white;
            }

            .travel-location {
                font-size: 26px;
                color: $white;
            }

            .travel-button {
                .btn-travel-details {
                    color: $white;
                    background-color: $orange;
                    border-color: $orange;

                    &:hover {
                        color: $white;
                        background-color: $lightOrange;
                        border-color: $lightOrange;
                    }
                }
            }
        }
    }
}
// Statistics Ends